google-generativeai
newspaper3k
Pillow
pytesseract
openai-whisper
moviepy
python-dotenv
streamlit 
langchain 
langchain-google-genai 
requests 
tavily-python
deep_translator
langdetect
fastapi
uvicorn
newspaper3k
lxml[html_clean]
moviepy
python-multipart
